{
	auto_https off
	admin 0.0.0.0:2019
	metrics
	frankenphp
}

:8080 {
	root * /app/public
	rewrite * /index.php
	php
}

:8081 {
	root * /app/public
	rewrite * /worker.php
	php {
		worker /app/public/worker.php 4
	}
}
